@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Ubuntu&display=swap");

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CSS STYLING STARTS HERE */

html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./images/newBG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-size: 2rem;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
}

.App {
  width: 90%;
  max-width: 1320px;
  margin: 0 auto;
}

h1 {
  font-size: 60px;
  letter-spacing: 8px;
  text-transform: uppercase;
  margin: 30px 0;
  font-family: "Merriweather", serif;
  width: 30%;
}

h2 {
  font-family: "Merriweather", serif;
  margin: 30px 0;
  letter-spacing: 2px;
}

h3 {
  font-family: "Merriweather", serif;
  letter-spacing: 2px;
}

img {
  max-width: 100%;
  object-fit: cover;
}

p,
button {
  letter-spacing: 2px;
  font-size: 22px;
}

/* Header */

.headerContainer {
  /* width: 40%; */
  position: relative;
  display: flex;
  justify-content: space-between;
}

.headerContainer img {
  position: absolute;
  top: 10px;
  left: 110px;
  width: 47%;
  z-index: -1;
}

.form {
  /* margin: 125px 35px 0 0; */
  margin-top: 70px;
  width: 35%;
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search {
  width: 100%;
  padding: 15px;
  border-radius: 50px;
  border: 2px solid #771611;
  padding-left: 40px;
  color: #fff;
  background-color: #771611;
  opacity: 0.7;
}

#search:hover,
#search:focus,
#search:active {
  border: 2px solid #fff;
}

.form span {
  position: absolute;
  top: 12px;
  right: 30px;
  /* color: #6b2222; */
}

.video {
  font-size: 30px;
  opacity: 0.5;
}

.form button {
  width: 150px;
  padding: 15px;
  border-radius: 50px;
  margin-top: 20px;
  border: 2px solid black;
}

.form button:hover,
.form button:focus,
.form button:active {
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
}

.headerPara {
  width: 70%;
}

.headerPara p {
  font-size: 20px;
}

/* Movie Results */

.movieContainer {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie {
  /* background-color: #5f0602; */
  background: rgb(95, 6, 2);
  background: radial-gradient(
    circle,
    rgba(95, 6, 2, 0.8978466386554622) 50%,
    rgba(0, 0, 0, 0.7942051820728291) 100%
  );
  width: 300px;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 15px;
  position: relative;
}

.movieImage {
  position: relative;
}

.movieImage span {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  background: #771611;
  opacity: 0.5;
}

.movieImage span:hover,
.movieImage span:focus {
  border: 2px solid #fff;
}

.faicons {
  font-size: 50px;
  padding: 8px;
  color: #fff;
  cursor: pointer;
}

.movieImage p {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  border: 2px solid #fff;
  padding: 5px;
}

.movieImage button {
  position: absolute;
  top: 0;
  right: 0;
}

.movieInfo {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.movieInfo h3 {
  letter-spacing: 1.5px;
}

.movieOver {
  background-color: #000;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
  overflow: auto;
  max-height: 100%;
  padding: 20px;
  text-align: center;
}

.movieOver h2 {
  letter-spacing: 1.5px;
  color: #771611;
}

.movie:hover .movieOver {
  transform: translateY(0);
}

.movieOver button {
  padding: 15px;
  border-radius: 25px;
  border: 2px solid #771611;
  margin-top: 25px;
  color: #771611;
  cursor: pointer;
}

.heart {
  color: #000;
  font-size: 40px;
}

.movieOver button:hover,
.movieOver button:focus {
  background-color: #771611;
  border: 2px solid #fff;
  color: #fff;
}

/* .movieOver button span {
  padding-bottom: 10px;
} */

.tag {
  background-color: #000;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
}

.tag.green {
  color: green;
}

.tag.orange {
  color: orange;
}

.tag.red {
  color: red;
}

/* Footer */

footer {
  margin-top: 20px;
  text-align: center;
  padding-bottom: 20px;
}

footer a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
}

footer a:hover,
footer a:focus {
  color: orange;
}

/* Media Query */

@media (min-width: 1356px) {
  .headerContainer img {
    width: 50%;
  }
}

/* @media (max-width: 1001px) {
} */

@media (max-width: 1015px) {
  h1 {
    font-size: 50px;
  }
  .headerPara p {
    font-size: 20px;
  }
}

@media (max-width: 973px) {
  h1 {
    width: 100%;
    text-align: center;
    margin-top: 50px;
  }

  .headerContainer {
    flex-wrap: wrap;
  }

  .headerContainer img {
    display: none;
  }

  .form {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .headerPara {
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 717px) {
  h1 {
    font-size: 40px;
  }

  .form {
    width: 55%;
  }

  #search {
    padding: 10px;
  }

  .form span {
    top: 10px;
  }

  .video {
    font-size: 25px;
  }
}

@media (max-width: 560px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 20px;
  }

  .form {
    width: 60%;
  }

  #search {
    padding: 7px;
  }

  .form span {
    top: 7px;
    right: 15px;
  }

  .favouriteContainer h2 {
    margin-top: 0;
  }
}

@media (max-width: 455px) {
  .form {
    width: 70%;
  }
}

@media (max-width: 400px) {
  .form {
    width: 80%;
  }
}
